<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Register</title>
</head>

<body>
    <div class="register-form">
        <h1>¡Bienvenido a TriCar!</h1>
        <form action="/register" method="POST">
            <label for="user">Nombre</label>
            <input type="text" name="name" required tabindex="1" autofocus>
            <label for="user">Apellido</label>
            <input type="text" name="last" required tabindex="2">
            <label for="user">Direccion</label>
            <input type="text" name="adress" required tabindex="3">
            <label for="user">Numero de telefono</label>
            <input type="text" name="phone" required tabindex="4">
            <small id="names" class="form-text text-muted">Ingrese solo numeros.</small>
            <br>
            <br>
            <label for="user">Identificacion</label>
            <input type="text" name="id" required tabindex="5">
            <small id="names" class="form-text text-muted">Ingrese solo numeros.</small>
            <br>
            <br>
            <label for="user">Fecha de nacimiento</label>
            <input type="text" name="bdate" required tabindex="6">
            <label for="user">Correo electronico</label>
            <input type="text" name="email" required tabindex="7">

            <label for="rol">Tipo de Usuario</label>
            <select id="rol" name="rol" class="select-css" tabindex="8">
                <option value="conductor" selected>Conductor</option>
                <option value="user">Usuario comun</option>
            </select>
            <br>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required tabindex="9">
            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
            </div>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(()=>{
                window.location= '/ <%= ruta %>'
            })
        </script>
        <% } %>
</body>

</html>